<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>
    <div>
        {{!-- Bootstrap Navbar --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
                {{!-- Respomsive Toogle button for small screens --}}
                    <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                    {{!-- navbar content --}}
                    <div class="collapse navbar-collapse" id="navbarNav">
                        {{!-- Navigation Links --}}
                        <div>
                          <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <!-- Conditional rendering based on user authentication -->
                        {{#if logged_in}}
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <button class="no-button" id="logout">Logout</button>
                            </li>
                        {{else}}
                        <!-- Login and Sign Up links for non-authenticated users -->
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signUp">Sign Up</a>
                        </li>
                        {{/if}}
                        </ul>
                        {{!-- Button outside nav list --}}
                        <button class="btn btn-secondary" ID="techBlogBtn">The Tech Blog</button>
                        </div>
                        <ul class="navbar-nav">
                    </ul>
                </div>
          </div>
    </nav>
        <!-- Main content container with dynamic body content -->
        <main class="container container-fluid mt-4 main-container">
            {{{body}}}
        </main>
        <footer>
        </footer>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
        <script>
            // Add an event listener to the "The Tech Blog" button
            document.getElementById('techBlogBtn').addEventListener('click', function() {
                // Update the window location to "/"
                window.location.href = "/";
            });
        </script>
        <!-- Conditional rendering of logout script if user is logged in -->
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
        {{#unless logged_in}}
        <script src="/js/session-timeout.js"></script>
        {{/unless}}
</body>
</html>