<div class="container">
    <!-- Heading for the login section -->
    <h2 class="login">Login</h2>
    <!-- Form for user login -->
    <form class="form login-form">
        <!-- Input field for username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-login" placeholder="Username" />
        </div>
        <!-- Input field for password -->
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password" />
        </div>
        <!-- Button to submit the login form -->
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log In</button>
        </div>
        <div>
            <!-- Link to the Sign Up page -->
            <a href="/signUp">Sign Up</a>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>