<div class="container">
    <h2 class="login">Login</h2>
    <form class="form login-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-login" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login" placeholder="Password" />
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Log In</button>
        </div>
        <div>
            <a href="/signUp">Sign Up</a>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>