<div class="container-box">
    <!-- Heading for the Sign Up section -->
    <h2 class="signup">Sign Up</h2>
        <!-- Form for user registration -->
        <form class="form signup-form">
        <!-- Input field for username -->
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-signup" placeholder="Username" />
        </div>
        <!-- Input field for username -->
        <div class="mb-3">
            <label for="password" class="form-label">Password must be 8 digits</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password" />
        </div>
        <!-- Button to submit the Sign Up form -->
        <div class="mb-3">
        <button type="submit" class="btn btn-primary custom-btn-wide">Sign Up</button>
        </div>
        </form>
        <div>
            <!-- Link to the Login page -->
            <a href="/login" class="login-link">Login Instead</a>
            </div>
</div>

<script src="./js/signUp.js"></script>