<div class="container">
    <h2 class="signup">Sign Up</h2>
        <form class="form signup-form">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-signup" placeholder="Username" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password" />
        </div>
        <div class="mb-3">
        <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        </form>
        <div>
            <a href="/login">Login</a>
            </div>
</div>

<script src="./js/signUp.js"></script>