.navbar.navbar-dark {
    background-color: #2c2307 !important;
    color: #b8cba2;
}
.navbar-brand {
    color: #b8cba2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #b8cba2;
  }

#home {
    color: #b8cba2; 
}

#logout {
        background-color: #2c2307;
        color: #b8cba2;
        margin-top: 7px;
        border: none;

}
#username-signup, #password-signup, #username-login, #password-login {
    background-color: #2c2307;
}

body{
    background-color: #b8cba2;

}
.container-container-fluid.mt-5{
    border: 25px solid  #2c2307;
}
.main-container {
    margin-left: 40px;
}

.form-control::placeholder {
    color: #b8cba2;
}

.form-control:-ms-input-placeholder {
    color: #b8cba2;
}
.form-control {
    color: #b8cba2;
  }
  .form-control:focus {
    color: #b8cba2;
  }
.btn-primary {
    background-color: #2c2307;
    color: #b8cba2;
}
.btn-primary:hover {
    color: #2c2307;
    background-color: #b8cba2;
}
a {
    color: #2c2307;
}
h2 {
    background-color: #2c2307;
    color: #b8cba2;
    padding: 10px;
}
.blogTitle {
    color: #b8cba2;
}

.border-box {
    width: 130%;
    border: 3px solid  #2c2307; 
    background-color: #b8cba2;
    /* padding: 2px; */
    box-sizing: border-box;

}

/* Apply margin to the bottom of the first .border-box */
.border-box:first-child {
    margin-bottom: 15px; /* Adjust the value based on the desired spacing */
}

/* Apply margin to the top of all .border-box elements starting from the second one */
.border-box:not(:first-child) {
    margin-top: 15px; /* Adjust the value based on the desired spacing */
}

